:root {
    --white:#fff;
    --color-bg:#208feb;
    --color-bg-menu:#0072ce;
    --black: #000;
    --gray: #696868;
    --hr: #d3d3d3;

}

* , ::before , ::after {
    box-sizing: border-box;
    outline: 1px solid red; 
}

 body {
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    background-color: rgb(240, 239, 239);
}

img {
    display: block;
    max-width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
} 
/* Header Section */
.header__logo {
    width: 55px;
}

.header__link {
    display: inline-block;
    margin: 20px;
} 
/* Nav Section */
.nav {
    position: relative;
}

.toggle-button {
    position: absolute;
    top: -60px;
    right: 20px;
}

.img__toggle-button {
    width: 35px;
}

.list {
    display: none;
} 

.list.active {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0;
    padding: 0;
    background-color: var(--color-bg-menu);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.list__link {
    color: #fff;
    display: block;
    padding: 20px;
}
/* Content Section */
.content {
    height: calc(100vh - 86.36px);
}

.content__container {
    padding: 20px 30px ;
}

.content__title {
    margin-top: 10px;
    -webkit-text-stroke: 2px var(--black , #000);
    color: transparent;
}

.content__ps5-bold {
    font-size: 6.5rem;
    color:var(--black , #000);
}

.content__links-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content__link {
    padding: 10px 30px;
}

.content__link--shop-now {
    color: var(--white , #fff);
    background-color: var(--color-bg);
}

.content__link--watch-trailer {
    color: var(--black , #000);
}
/* Social Media Section */
.social-media {
    display: flex;
    align-items: center;
    padding: 30px 0 0 0;
}

.social-media__link {
    margin-right: 20px;
    color: var(--black , #000);
}
/* Products Section */
.products {
    padding: 20px 30px 40px 30px ;
}

.products__container {
    display: flex;
    height: 100px;
}

.products__img {
    width: 100px;
    margin-right: 20px;
    object-fit: contain;
}

.products__title {
    margin-top: 20px;
    margin-bottom: 5px;
}

.products__link {
    color: var(--gray , #696868) ;
}

.hr {
    /* border: 1px solid var(--gray); */
    background-color: var(--hr , #d3d3d3);
    height: 1px;
    border: none;
}
